<Section id="Education" class="studies">
  <div class="container text-left">
    <br><p><h3>Education</h3>
  </div>
 
  <div class="flex-container">
  <ul class="list-listings">
   <li class="titulos-universitarios">
     <div class="row">
     <div class="col-md-2 col-sm-2">
     <img src="/assets/IMG/logo uader.png" alt="" width="50%" height="">
     </div>

    <div class="col-md-10 col-sm-10">
     <p><h5>Tecnico en Administración</h5>
     <p><h6>Universidad Autónoma de Entre Ríos</h6>
     <p><h6>2020-Actualidad</h6>
    </div>
    </div>
  </li>

  <li class="titulos-universitarios">
    <div class="row">
     <div class="col-md-2 col-sm-2">
      <img src="assets/IMG/logodeucv.png" alt="" width="60%" height="">
    </div>
 
    <div class="col-md-10 col-sm-10">
      <p><h5>Licenciada en Trabajo Social</h5>
      <p><h6>Universidad Central de Venezuela</h6>
      <p><h6>2010-2016</h6>
    </div>
    </div>
  </li>

  </ul>
 </div> 
  
</Section>