<div class="container">
    


<!--Inicio de About-->
<div class="card">
    <h3>About me</h3>
    <button type="button" data-bs-toggle="modal" data-bs-target="#modalabout">Edit on me</button>
<!-- Modal about -->
<div class="modal fade" id="modalabout" tabindex="-1"> <!--Fade hace que el diálogo aparezca lentito, efecto de desvanecimiento -->
<div class="modal-dialog"> <!--Aquí van cambio de tamaño(sm...lg) y orientación vertical(centered)-->
<div class="modal-content"> <!--Dentro de esto se organiza el contenido-->

<div class="modal-header"> <!--Encabezado-->
<h5 class="modal-title" id="ModalLabel">About me</h5>
<p><a class="btn-close" data-bs-dismiss="modal" aria-label="Close">X</a></p>
</div> <!--Cierre de Encabezado-->

<div class="modal-body"> <!--Apertura de Body-->

<form>


<div class="mb-3">
  <label for="formFileSm" class="form-label">Foto de perfil</label>
  <input class="form-control form-control-sm" id="formFileSm" type="file">
</div>


<div class="form-floating">
  <textarea class="form-control"  id="floatingTextarea"></textarea>
  <label for="floatingTextarea">Descripción</label>
</div>


</form>
</div> <!--Cierre de Body-->

<div class="modal-footer"> <!--Apertura de footer-->
<button type="button" class="btn btn-primary" value="Save">Save changes</button>
<button type="button" class="btn btn-secondary" data-bs-dismiss="modal" value="Delete">Delete</button>
</div> <!--Cierre de footer-->

</div> <!--Dentro de esto se organiza el contenido-->
</div> <!--Dentro de esto está modal dialog-->
</div> <!--Cierre de modal fade que contiene todo-->

</div>
<!--Fin de About-->


</div> <!--Cierre de container-->
