@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
*{
    font-family: 'Pacifico', cursive;
    
}


.pie-de-pagina{
    background-color:rgba(31, 179, 159, 0.852);
    display: flex;
    justify-content: center;
    
    
    width:100%;
    min-width: 95vh;
    
    margin-left:auto;
    margin-right:auto;

    padding: 1rem 0;
    margin-top: auto ; /*Para estar siempre abajo*/
    bottom:0;

    border-top: 3px solid black
}

footer{
    display: flex;
}

/*footer*/
@media (max-width:600px) {  /*Extra Small*/
    .pie-de-pagina {
        display: flex;
        justify-content: center;
        
        padding: 8px 20px;
        width:100%;
        min-width: auto;

        position: fixed;
        left:0;
        right:0;

        margin-top: auto ; /*Para estar siempre abajo*/
        bottom:0;
    }
}

@media (max-width:768px) {  /*Medium*/
    .pie-de-pagina {
        display: flex;
        justify-content: center;
        
        padding: 8px 20px;
        width:100%;
        min-width: auto;

        position: fixed;
        left:0;
        right:0;

        margin-top: auto ; /*Para estar siempre abajo*/
        bottom:0;
    }
}

@media (max-width:1024px) {  /*Large*/
    .pie-de-pagina {
        display: flex;
        justify-content: center;
        
        padding: 8px 20px;
        width:100%;
        min-width: auto;

        position: fixed;
        left:0;
        right:0;

        margin-top: auto ; /*Para estar siempre abajo*/
        bottom:0;
    }
}



