<Section id="DeleteEducation" class="deletestudies">
    <div class="container text-left">
      <br><p><h3>Education</h3>
    </div>
   
    <div class="flex-container">
    <ul class="list-listings" *ngFor="let Education of education">
     <li class="titulos-universitarios">
       <div class="row">
       <div class="col-md-2 col-sm-2">
       <img src="/assets/IMG/ar-prog_logo.png" alt="logo Argentina Programa" width="40%" height="">
       </div>
  
  
       <div class="col-md-10 col-sm-10">
        <p><h5>{{Education.titulo}} </h5> <i class="list-group-item"><button type="button" class="btn btn-secondary" data-bs-dismiss="modal" value="Delete" (click)="onDelete">Delete</button> <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" value="Delete" >Edit</button></i>
        <p><h6>{{Education.institucion}}</h6> <i class="list-group-item"><button type="button" class="btn btn-secondary" data-bs-dismiss="modal" value="Delete" (click)="onDelete">Delete</button> <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" value="Delete" >Edit</button></i>
        <p><h6>{{Education.ano}}</h6> <i class="list-group-item"><button type="button" class="btn btn-secondary" data-bs-dismiss="modal" value="Delete" (click)="onDelete">Delete</button> <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" value="Delete" >Edit</button></i>
       </div> 
       </div> 
      </li> 
  
    </ul>
   </div> 
    
  </Section>
