<header role="navigation"> 
    <div class="navbar">
    
        <nav class="navbar navbar-expand-md bg-info fixed-top">
            <div class="container-fluid">
              <a class="navbar-brand" href="#">
                <img src="./assets/IMG/APLogo-20-20.png" alt="logo de Argentina Programa"  width="100px" height="">
              </a>
              
              <div class="log-container"><!-- Inicio de Item de logout-->
              <div class="item"><i class="fa-solid fa-person-through-window" type="button"  routerLink="/"></i></div>
            </div> <!-- Fin de Item de logout-->
            
            </div> 
        </nav>
          
        
    </div>
    </header>