<Section id="Experience" class="work">
  <div class="container text-left">
    <br><p><h3>Experience</h3>
  </div>
 
  <div class="flex-container">
  <ul class="list-listings" *ngFor="let Experience of experience">
  
    <li class="mi-experiencia">
   <div class="row">
    <div class="col-md-2 col-sm-2">
      <img src="/assets/IMG/ar-prog_logo.png" alt="logo Argentina Programa" width="40%" height="">
   </div>

   <div class="col-md-10 col-sm-10">
    <p><h5>{{Experience.puesto}}</h5>
    <p><h6>{{Experience.organizacion}}</h6>
    <p><h6>{{Experience.ano}}</h6>
   </div>
   </div>
  </li> 

  <!--<li class="mi-experiencia">
    <div class="row">
     <div class="col-md-2 col-sm-2">
      <img src="assets/IMG/logo ucer.jpg" alt="logo UCER" width="60%" height="">
    </div>
 
    <div class="col-md-10 col-sm-10" *ngFor="let Experience of experience">
      <p><h5>Pasante de Administración</h5>
      <p><h6>Unión de Colectividades de Entre Ríos</h6>
      <p><h6>Junio-2022 Sept-2022</h6>
    </div>
    </div>
   </li>

   <li class="mi-experiencia">
    <div class="row">
     <div class="col-md-2 col-sm-2">
      <img src="assets/IMG/LogoBancaribe.svg" alt="logo Bancaribe" width="100%" height="20%">
    </div>
 
    <div class="col-md-10 col-sm-10">
      <p><h5>Asesor de servicios al cliente</h5>
      <p><h6>Banco del Caribe</h6>
      <p><h6>2010-2013</h6>
    </div>
    </div>
   </li>-->
   
  </ul>
  </div>
  
</Section>





