<div class="container">


    <!--Inicio de Social-->
    <div class="card">
        <h3>Social Networks</h3>
        <button type="button" data-bs-toggle="modal" data-bs-target="#nuevared">Edit on me</button>
    
    <!-- Modal social -->
    <div class="modal fade" id="nuevared" tabindex="-1"> <!--Fade hace que el diálogo aparezca lentito, efecto de desvanecimiento -->
    <div class="modal-dialog"> <!--Aquí van cambio de tamaño(sm...lg) y orientación vertical(centered)-->
    <div class="modal-content"> <!--Dentro de esto se organiza el contenido-->
    
    <div class="modal-header"> <!--Encabezado-->
    <h5 class="modal-title" id="ModalLabel">New Social Network</h5>
    <p><a class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="limpiar">X</a></p>
    </div> <!--Cierre de Encabezado-->
    
    <form [formGroup]="form" (ngSubmit)="onEnviar($event)" novalidate name="NuevaEducación"> 
    <div class="modal-body"> <!--Apertura de Body-->
    
      
        <div class="form-floating">
            <input type="title" class="form-control" id="floatingTitle"  name="cuenta de red" formControlName="cuenta" [(ngModel)]="cuenta" required> 
            <label for="floatingTitle">Cuenta</label>
          </div>
      
      <div class="form-floating">
        <input type="title" class="form-control" id="floatingTitle" name="icono" formControlName="url_icono_red" [(ngModel)]="url_icono_red" >
        <label for="floatingTitle">Icono</label>
      </div>
    
    </div> <!--Cierre de Body-->
    
    <div class="modal-footer"> <!--Apertura de footer-->
    <button class="btn btn-secondary" data-bs-dismiss="modal"  type="submit" value="Add">Add</button>
    </div> <!--Cierre de footer-->
    </form>
    
    </div> <!--Dentro de esto se organiza el contenido-->
    </div> <!--Dentro de esto está modal dialog-->
    </div> <!--Cierre de modal fade que contiene todo-->
    <!--Cierre de modal 2-->
    </div>
    <!--Fin de Social-->
    
    
    </div> <!--Cierre de container-->