<Section id="Skills" class="skills">
    <div class="container text-left">
      
      <br><p><h3>Hard and Soft Skills</h3>
    
    </div>
     
    <div class="container text-left">
      <p><h4>Hard Skills</h4>
    </div>

    <div class="flex-container">
        
                 
        <div class="row-tech"> 
            <div>
                <circle-progress
                    [title]="'RUBY'"
                    [showUnits]="false"
                    [titleColor]="'#0a0a0a'"
                    [subtitle]="'70%'"
                    [subtitleFontSize]="'20'"
                    [subtitleColor]="'#0a0a0a'"
                    [percent]="70"
                    [radius]="70"
                    [outerStrokeWidth]="20"
                    [innerStrokeWidth]="8"
                    [outerStrokeGradient]="true"
                    [outerStrokeColor]="'#00d5ff'"
                    [outerStrokeGradientStopColor]="'#5704a9'"
                    [innerStrokeColor]="'transparent'"
                    [animation]="true"
                    [animationDuration]="400"
                ></circle-progress>
            </div>
      
            <div>
              <circle-progress
                    [title]="'HTML'"
                    [showUnits]="false"
                    [titleColor]="'#0a0a0a'"
                    [subtitle]="'80%'"
                    [subtitleFontSize]="'20'"
                    [subtitleColor]="'#0a0a0a'"
                    [percent]="80"
                    [radius]="70"
                    [outerStrokeWidth]="20"
                    [innerStrokeWidth]="8"
                    [outerStrokeGradient]="true"
                    [outerStrokeColor]="'#00d5ff'"
                    [outerStrokeGradientStopColor]="'#5704a9'"
                    [innerStrokeColor]="'transparent'"
                    [animation]="true"
                    [animationDuration]="400"
                ></circle-progress>
            </div>
    
            <div>
              <circle-progress
                    [title]="'CSS'"
                    [showUnits]="false"
                    [titleColor]="'#0a0a0a'"
                    [subtitle]="'65%'"
                    [subtitleFontSize]="'20'"
                    [subtitleColor]="'#0a0a0a'"
                    [percent]="65"
                    [radius]="70"
                    [outerStrokeWidth]="20"
                    [innerStrokeWidth]="8"
                    [outerStrokeGradient]="true"
                    [outerStrokeColor]="'#00d5ff'"
                    [outerStrokeGradientStopColor]="'#5704a9'"
                    [innerStrokeColor]="'transparent'"
                    [animation]="true"
                    [animationDuration]="400"
                ></circle-progress>
            </div>

            <div>
              <circle-progress
                    [title]="'JAVASCRIPT'"
                    [showUnits]="false"
                    [titleColor]="'#0a0a0a'"
                    [subtitle]="'60%'"
                    [subtitleFontSize]="'20'"
                    [subtitleColor]="'#0a0a0a'"
                    [percent]="60"
                    [radius]="70"
                    [outerStrokeWidth]="20"
                    [innerStrokeWidth]="8"
                    [outerStrokeGradient]="true"
                    [outerStrokeColor]="'#00d5ff'"
                    [outerStrokeGradientStopColor]="'#5704a9'"
                    [innerStrokeColor]="'transparent'"
                    [animation]="true"
                    [animationDuration]="400"
                ></circle-progress>
            </div>

            <div>
              <circle-progress
                  [title]="'ANGULAR'"
                  [showUnits]="false"
                  [titleColor]="'#0a0a0a'"
                  [subtitle]="'60%'"
                  [subtitleFontSize]="'20'"
                  [subtitleColor]="'#0a0a0a'"
                  [percent]="60"
                  [radius]="70"
                  [outerStrokeWidth]="20"
                  [innerStrokeWidth]="8"
                  [outerStrokeGradient]="true"
                  [outerStrokeColor]="'#00d5ff'"
                  [outerStrokeGradientStopColor]="'#5704a9'"
                  [innerStrokeColor]="'transparent'"
                  [animation]="true"
                  [animationDuration]="400"
              ></circle-progress>
          </div>

        </div>
    
    
        <div class="row-language"> 

            <div>
                <circle-progress
                    [title]="'INGLÉS'"
                    [showUnits]="false"
                    [titleColor]="'#0a0a0a'"
                    [subtitle]="'INTERMEDIO'"
                    [subtitleFontSize]="'20'"
                    [subtitleColor]="'#0a0a0a'"
                    [percent]="65"
                    [radius]="70"
                    [outerStrokeWidth]="20"
                    [innerStrokeWidth]="8"
                    [outerStrokeGradient]="true"
                    [outerStrokeColor]="'#00d5ff'"
                    [outerStrokeGradientStopColor]="'#5704a9'"
                    [innerStrokeColor]="'transparent'"
                    [animation]="true"
                    [animationDuration]="400"
                ></circle-progress>
            </div>
      
            <div>
              <circle-progress
                    [title]="'PORTUGUÉS'"
                    [showUnits]="false"
                    [titleColor]="'#0a0a0a'"
                    [subtitle]="'BÁSICO'"
                    [subtitleFontSize]="'20'"
                    [subtitleColor]="'#0a0a0a'"
                    [percent]="45"
                    [radius]="70"
                    [outerStrokeWidth]="20"
                    [innerStrokeWidth]="8"
                    [outerStrokeGradient]="true"
                    [outerStrokeColor]="'#00d5ff'"
                    [outerStrokeGradientStopColor]="'#5704a9'"
                    [innerStrokeColor]="'transparent'"
                    [animation]="true"
                    [animationDuration]="400"
                ></circle-progress>
            </div>       
           
        </div>

         
      
    </div>

    <div class="container text-left">
      <p><h4>Soft Skills</h4>
    </div> 
    
    <div class="flex-container">
    <div class="row-Soft"> 
      <div>
          <circle-progress
              [title]="'Liderazgo'"
              [showUnits]="false"
              [titleColor]="'#0a0a0a'"
              [subtitle]="'75%'"
              [subtitleFontSize]="'20'"
              [subtitleColor]="'#0a0a0a'"
              [percent]="75"
              [radius]="80"
              [outerStrokeWidth]="20"
              [innerStrokeWidth]="8"
              [outerStrokeGradient]="true"
              [outerStrokeColor]="'#910808'"
              [outerStrokeGradientStopColor]="'#5f25cb'"
              [innerStrokeColor]="'transparent'"
              [animation]="true"
              [animationDuration]="400"
          ></circle-progress>
      </div>

      <div >
        <circle-progress
              [title]="'Compromiso'"
              [showUnits]="false"
              [titleColor]="'#0a0a0a'"
              [subtitle]="'80%'"
              [subtitleFontSize]="'20'"
              [subtitleColor]="'#0a0a0a'"
              [percent]="80"
              [radius]="80"
              [outerStrokeWidth]="20"
              [innerStrokeWidth]="8"
              [outerStrokeGradient]="true"
              [outerStrokeColor]="'#910808'"
              [outerStrokeGradientStopColor]="'#5f25cb'"
              [innerStrokeColor]="'transparent'"
              [animation]="true"
              [animationDuration]="400"
          ></circle-progress>
      </div>
      
      <div>
        <circle-progress
              [title]="'Cooperación'"
              [showUnits]="false"
              [titleColor]="'#0a0a0a'"
              [subtitle]="'75%'"
              [subtitleFontSize]="'20'"
              [subtitleColor]="'#0a0a0a'"
              [percent]="75"
              [radius]="80"
              [outerStrokeWidth]="20"
              [innerStrokeWidth]="8"
              [outerStrokeGradient]="true"
              [outerStrokeColor]="'#910808'"
              [outerStrokeGradientStopColor]="'#5f25cb'"
              [innerStrokeColor]="'transparent'"
              [animation]="true"
              [animationDuration]="400"
          ></circle-progress>
      </div> 

      <div>
        <circle-progress
              [title]="'Resiliencia'"
              [showUnits]="false"
              [titleColor]="'#0a0a0a'"
              [subtitle]="'80%'"
              [subtitleFontSize]="'20'"
              [subtitleColor]="'#0a0a0a'"
              [percent]="80"
              [radius]="80"
              [outerStrokeWidth]="20"
              [innerStrokeWidth]="8"
              [outerStrokeGradient]="true"
              [outerStrokeColor]="'#910808'"
              [outerStrokeGradientStopColor]="'#5f25cb'"
              [innerStrokeColor]="'transparent'"
              [animation]="true"
              [animationDuration]="400"
          ></circle-progress>
      </div> 

     </div>
    
    </div>

</Section>
