.header-cabecita{
    position: fixed;
    z-index: 999;
    min-height:90px;
    min-width: 100%;
   
}

.container-fluid{
    position:relative;
    
}

.navbar.navbar-expand-md.bg-info{
    background: rgb(3,125,130);
    background: -moz-linear-gradient(125deg, rgba(3,125,130,1) 31%, rgba(120,6,157,1) 71%);
    background: -webkit-linear-gradient(125deg, rgba(3,125,130,1) 31%, rgba(120,6,157,1) 71%);
    background: linear-gradient(125deg, rgba(3,125,130,1) 31%, rgba(120,6,157,1) 71%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#037d82",endColorstr="#78069d",GradientType=1);
    flex-wrap:nowrap;
    border-bottom: 3px solid black
    
}


