<Section id="Edit" class="dashboard">

  <body>
<header role="navigation"> 
<div class="navbar">

    <nav class="navbar navbar-expand-md bg-info fixed-top">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">
            <img src="./assets/IMG/APLogo-20-20.png" alt="logo de Argentina Programa"  width="100px" height="">
          </a>
          
          <div class="log-container"><!-- Inicio de Item de logout-->
          <div class="item"><i class="fa-solid fa-person-through-window" type="button" routerLink="/"></i></div>
        </div> <!-- Fin de Item de logout-->
        
        </div> 
    </nav>
      
    
</div>
</header>


  <div class="container">
    
    <div class="col-1">
    </div>

      <div class="col-xs-12 col-sm-7 col-md-7 col-lg-7">
        
      <div class="row-1">

<!--Inicio de Banner y Social Networks-->
        <div class="card">
            <h3>Banner & Social networks</h3>
            <button type="button" data-bs-toggle="modal" data-bs-target="#modalbanner">Edit on me</button>

<!-- Modal banner y social networks -->
<div class="modal fade" id="modalbanner" tabindex="-1"> <!--Fade hace que el diálogo aparezca lentito, efecto de desvanecimiento -->
  <div class="modal-dialog"> <!--Aquí van cambio de tamaño(sm...lg) y orientación vertical(centered)-->
    <div class="modal-content"> <!--Dentro de esto se organiza el contenido-->
      
      <div class="modal-header"> <!--Encabezado-->
        <h5 class="modal-title" id="ModalLabel">Banner & Social networks</h5>
        <p><a class="btn-close" data-bs-dismiss="modal" aria-label="Close">X</a></p>
    </div> <!--Cierre de Encabezado-->
    
    <div class="modal-body"> <!--Apertura de Body-->
      
      <form>
      
        <div class="mb-3">
          <label for="formFileSm" class="form-label">Foto del banner</label>
          <input class="form-control form-control-sm" id="formFileSm" type="file">
        </div>

        <select class="form-select form-select-sm" aria-label=".form-select-sm example">
        
          <option selected>Select menu</option>
          <option value="1">One</option>
          <option value="2">Two</option>
          <option value="3">Three</option>
        </select>

        <div class="form-floating">
          <input type="title" class="form-control" id="floatingTitle" >
          <label for="floatingTitle">Red Social</label>
        </div>
      
      
      
        <div class="form"> <!--Apertura de añadir -->
        <a role="button" href="#" data-bs-toggle="modal" data-bs-target="#nuevared">Añadir nuevo </a>

      </div> <!--Cierre de Añadir-->

      </form>
    </div> <!--Cierre de Body-->

    <div class="modal-footer"> <!--Apertura de footer-->
      <button type="button" class="btn btn-primary" value="Save">Save changes</button>
      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" value="Delete">Delete</button>
    </div> <!--Cierre de footer-->

    </div> <!--Dentro de esto se organiza el contenido-->
  </div> <!--Dentro de esto está modal dialog-->
</div> <!--Cierre de modal fade que contiene todo-->


<!--Modal 2-->
<!-- Modal -->
<div class="modal fade" id="nuevared" tabindex="-1"> <!--Fade hace que el diálogo aparezca lentito, efecto de desvanecimiento -->
<div class="modal-dialog"> <!--Aquí van cambio de tamaño(sm...lg) y orientación vertical(centered)-->
<div class="modal-content"> <!--Dentro de esto se organiza el contenido-->

<div class="modal-header"> <!--Encabezado-->
<h5 class="modal-title" id="ModalLabel">Nueva Red</h5>
<p><a class="btn-close" data-bs-dismiss="modal" aria-label="Close">X</a></p>
</div> <!--Cierre de Encabezado-->

<div class="modal-body"> <!--Apertura de Body-->

<form>

<div class="form-floating">
  <input type="title" class="form-control" id="floatingTitle" >
  <label for="floatingTitle">Red Social</label>
</div>


</form>
</div> <!--Cierre de Body-->

<div class="modal-footer"> <!--Apertura de footer-->
<button type="button" class="btn btn-secondary" data-bs-dismiss="modal" value="Add">Add</button>
</div> <!--Cierre de footer-->

</div> <!--Dentro de esto se organiza el contenido-->
</div> <!--Dentro de esto está modal dialog-->
</div> <!--Cierre de modal fade que contiene los Proyectos-->


<!--Cierre de modal 2-->

        </div>
<!--Fin de Banner y Social Networks-->

<!--Inicio de About-->
        <div class="card">
            <h3>About me</h3>
            <button type="button" data-bs-toggle="modal" data-bs-target="#modalabout">Edit on me</button>
<!-- Modal about -->
<div class="modal fade" id="modalabout" tabindex="-1"> <!--Fade hace que el diálogo aparezca lentito, efecto de desvanecimiento -->
  <div class="modal-dialog"> <!--Aquí van cambio de tamaño(sm...lg) y orientación vertical(centered)-->
    <div class="modal-content"> <!--Dentro de esto se organiza el contenido-->
      
      <div class="modal-header"> <!--Encabezado-->
        <h5 class="modal-title" id="ModalLabel">About me</h5>
        <p><a class="btn-close" data-bs-dismiss="modal" aria-label="Close">X</a></p>
    </div> <!--Cierre de Encabezado-->
    
    <div class="modal-body"> <!--Apertura de Body-->
      
      <form>
     

        <div class="mb-3">
          <label for="formFileSm" class="form-label">Foto de perfil</label>
          <input class="form-control form-control-sm" id="formFileSm" type="file">
        </div>

      
        <div class="form-floating">
          <textarea class="form-control"  id="floatingTextarea"></textarea>
          <label for="floatingTextarea">Descripción</label>
        </div>


      </form>
    </div> <!--Cierre de Body-->

    <div class="modal-footer"> <!--Apertura de footer-->
      <button type="button" class="btn btn-primary" value="Save">Save changes</button>
      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" value="Delete">Delete</button>
    </div> <!--Cierre de footer-->

    </div> <!--Dentro de esto se organiza el contenido-->
  </div> <!--Dentro de esto está modal dialog-->
</div> <!--Cierre de modal fade que contiene todo-->

        </div>
<!--Fin de About-->
      </div> <!--Cierre de row-1-->

      <div class="row-2"> <!--Apertura de row-2-->
<!--Incio de Experience-->  
        <div class="card">
            <h3>Experience</h3>
            <button type="button" data-bs-toggle="modal" data-bs-target="#modalexperience">Edit on me</button>

<!-- Modal experience -->
<div class="modal fade" id="modalexperience" tabindex="-1"> <!--Fade hace que el diálogo aparezca lentito, efecto de desvanecimiento -->
  <div class="modal-dialog"> <!--Aquí van cambio de tamaño(sm...lg) y orientación vertical(centered)-->
    <div class="modal-content"> <!--Dentro de esto se organiza el contenido-->
      
      <div class="modal-header"> <!--Encabezado-->
        <h5 class="modal-title" id="ModalLabel">Experience</h5>
        <p><a class="btn-close" data-bs-dismiss="modal" aria-label="Close">X</a></p>
    </div> <!--Cierre de Encabezado-->
    
    <div class="modal-body"> <!--Apertura de Body-->
      
      <form>
      <select class="form-select form-select-sm" aria-label=".form-select-sm example">
        
        <option selected>Select menu</option>
        <option value="1">One</option>
        <option value="2">Two</option>
        <option value="3">Three</option>
      </select>

        <div class="mb-3">
          <label for="formFileSm" class="form-label">Logo</label>
          <input class="form-control form-control-sm" id="formFileSm" type="file">
        </div>

        <div class="form-floating">
          <input type="title" class="form-control" id="floatingTitle" >
          <label for="floatingTitle">Puesto</label>
        </div>
      
        <div class="form-floating">
          <textarea class="form-control"  id="floatingTitle"></textarea>
          <label for="floatingTitle">Institución</label>
        </div>

        <div class="form-floating">
          <input type="title" class="form-control" id="floatingYear" >
          <label for="floatingYear">Año de realización</label>
        </div>
      
        <div class="form"> <!--Apertura de añadir-->
        <a role="button" href="#" data-bs-toggle="modal" data-bs-target="#nuevo">Añadir nueva Experiencia</a>

      </div> <!--Cierre de Añadir-->

      </form>
    </div> <!--Cierre de Body-->

    <div class="modal-footer"> <!--Apertura de footer-->
      <button type="button" class="btn btn-primary" value="Save">Save changes</button>
      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" value="Delete">Delete</button>
    </div> <!--Cierre de footer-->

    </div> <!--Dentro de esto se organiza el contenido-->
  </div> <!--Dentro de esto está modal dialog-->
</div> <!--Cierre de modal fade que contiene todo-->


<!--Modal 2-->
<!-- Modal experience -->
<div class="modal fade" id="nuevo" tabindex="-1"> <!--Fade hace que el diálogo aparezca lentito, efecto de desvanecimiento -->
<div class="modal-dialog"> <!--Aquí van cambio de tamaño(sm...lg) y orientación vertical(centered)-->
<div class="modal-content"> <!--Dentro de esto se organiza el contenido-->

<div class="modal-header"> <!--Encabezado-->
<h5 class="modal-title" id="ModalLabel">Nueva Experiencia</h5>
<p><a class="btn-close" data-bs-dismiss="modal" aria-label="Close">X</a></p>
</div> <!--Cierre de Encabezado-->

<div class="modal-body"> <!--Apertura de Body-->

<form>

<div class="mb-3">
  <label for="formFileSm" class="form-label">Logo</label>
  <input class="form-control form-control-sm" id="formFileSm" type="file">
</div>

<div class="form-floating">
  <input type="title" class="form-control" id="floatingTitle" >
  <label for="floatingTitle">Puesto</label>
</div>

<div class="form-floating">
  <textarea class="form-control"  id="floatingTitle"></textarea>
  <label for="floatingTitle">Institución</label>
</div>

<div class="form-floating">
  <input type="title" class="form-control" id="floatingYear" >
  <label for="floatingYear">Año de realización</label>
</div>

</form>
</div> <!--Cierre de Body-->

<div class="modal-footer"> <!--Apertura de footer-->
<button type="button" class="btn btn-secondary" data-bs-dismiss="modal" value="Add">Add</button>
</div> <!--Cierre de footer-->

</div> <!--Dentro de esto se organiza el contenido-->
</div> <!--Dentro de esto está modal dialog-->
</div> <!--Cierre de modal fade que contiene todo-->


<!--Cierre de modal 2-->

        </div>
<!--Fin de Experience-->

<!--Inicio de Education-->
        <div class="card">
            <h3>Education</h3>
            <button type="button" data-bs-toggle="modal" data-bs-target="#modaleducation">Edit on me</button>

<!-- Modal educaction -->
<div class="modal fade" id="modaleducation" tabindex="-1"> <!--Fade hace que el diálogo aparezca lentito, efecto de desvanecimiento -->
  <div class="modal-dialog"> <!--Aquí van cambio de tamaño(sm...lg) y orientación vertical(centered)-->
    <div class="modal-content"> <!--Dentro de esto se organiza el contenido-->
      
      <div class="modal-header"> <!--Encabezado-->
        <h5 class="modal-title" id="ModalLabel">Education</h5>
        <p><a class="btn-close" data-bs-dismiss="modal" aria-label="Close">X</a></p>
    </div> <!--Cierre de Encabezado-->
    
    <div class="modal-body"> <!--Apertura de Body-->
      
      <form>
      <select class="form-select form-select-sm" aria-label=".form-select-sm example">
        
        <option selected>Select menu</option>
        <option value="1">One</option>
        <option value="2">Two</option>
        <option value="3">Three</option>
      </select>

        <div class="mb-3">
          <label for="formFileSm" class="form-label">Logo</label>
          <input class="form-control form-control-sm" id="formFileSm" type="file">
        </div>

        <div class="form-floating">
          <input type="title" class="form-control" id="floatingTitle" >
          <label for="floatingTitle">Título recibido</label>
        </div>
      
        <div class="form-floating">
          <textarea class="form-control"  id="floatingTitle"></textarea>
          <label for="floatingTitle">Institución</label>
        </div>

        <div class="form-floating">
          <input type="title" class="form-control" id="floatingYear" >
          <label for="floatingYear">Año de realización</label>
        </div>
      
        <div class="form"> <!--Apertura de añadir-->
        <a role="button" href="#" data-bs-toggle="modal" data-bs-target="#nuevoeducation">Añadir Nueva Educación</a>

      </div> <!--Cierre de Añadir-->

      </form>
    </div> <!--Cierre de Body-->

    <div class="modal-footer"> <!--Apertura de footer-->
      <button type="button" class="btn btn-primary" value="Save">Save changes</button>
      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" value="Delete">Delete</button>
    </div> <!--Cierre de footer-->

    </div> <!--Dentro de esto se organiza el contenido-->
  </div> <!--Dentro de esto está modal dialog-->
</div> <!--Cierre de modal fade que contiene todo-->


<!--Modal 2-->
<!-- Modal education -->
<div class="modal fade" id="nuevoeducation" tabindex="-1"> <!--Fade hace que el diálogo aparezca lentito, efecto de desvanecimiento -->
<div class="modal-dialog"> <!--Aquí van cambio de tamaño(sm...lg) y orientación vertical(centered)-->
<div class="modal-content"> <!--Dentro de esto se organiza el contenido-->

  <div class="modal-header"> <!--Encabezado-->
    <h5 class="modal-title" id="ModalLabel">Nueva Educación</h5>
    <p><a class="btn-close" data-bs-dismiss="modal" aria-label="Close">X</a></p>
</div> <!--Cierre de Encabezado-->

<div class="modal-body"> <!--Apertura de Body-->

<form>

<div class="mb-3">
  <label for="formFileSm" class="form-label">Logo</label>
  <input class="form-control form-control-sm" id="formFileSm" type="file">
</div>

<div class="form-floating">
  <input type="title" class="form-control" id="floatingTitle" >
  <label for="floatingTitle">Titulo recibido</label>
</div>

<div class="form-floating">
  <textarea class="form-control"  id="floatingTitle"></textarea>
  <label for="floatingTitle">Institución</label>
</div>

<div class="form-floating">
  <input type="title" class="form-control" id="floatingYear" >
  <label for="floatingYear">Año de realización</label>
</div>

</form>
</div> <!--Cierre de Body-->

<div class="modal-footer"> <!--Apertura de footer-->
<button type="button" class="btn btn-secondary" data-bs-dismiss="modal" value="Add">Add</button>
</div> <!--Cierre de footer-->

</div> <!--Dentro de esto se organiza el contenido-->
</div> <!--Dentro de esto está modal dialog-->
</div> <!--Cierre de modal fade que contiene todo-->
<!--Cierre de modal 2-->
        </div>
<!--Fin de Education-->

      </div> <!--Fin de row-2-->

      <div class="row-3"> <!--Inicio de row-3-->
       
<!--Inicio de Hard Skills-->       
        <div class="card" >
            <h3>Hard Skills</h3>
            <button type="button" data-bs-toggle="modal" data-bs-target="#modalhard">Edit on me</button>

<!-- Modal Hard Skills -->
<div class="modal fade" id="modalhard" tabindex="-1"> <!--Fade hace que el diálogo aparezca lentito, efecto de desvanecimiento -->
  <div class="modal-dialog"> <!--Aquí van cambio de tamaño(sm...lg) y orientación vertical(centered)-->
    <div class="modal-content"> <!--Dentro de esto se organiza el contenido-->
      
      <div class="modal-header"> <!--Encabezado-->
        <h5 class="modal-title" id="ModalLabel">Hard Skills</h5>
        <p><a class="btn-close" data-bs-dismiss="modal" aria-label="Close">X</a></p>
    </div> <!--Cierre de Encabezado-->
    
    <div class="modal-body"> <!--Apertura de Body-->
      
      <form>

        <select class="form-select form-select-sm" aria-label=".form-select-sm example">
        
          <option selected>Select menu</option>
          <option value="1">One</option>
          <option value="2">Two</option>
          <option value="3">Three</option>
        </select>

        <div class="form-floating">
          <input type="title" class="form-control" id="floatingTitle" >
          <label for="floatingTitle">Hard Skill</label>
        </div>

        <div class="form-floating">
          <input type="title" class="form-control" id="floatingTitle" >
          <label for="floatingTitle">% Skill</label>
        </div>
      
      
      
        <div class="form"> <!--Apertura de añadir -->
        <a role="button" href="#" data-bs-toggle="modal" data-bs-target="#nuevahard">Añadir nuevo </a>

      </div> <!--Cierre de Añadir-->

      </form>
    </div> <!--Cierre de Body-->

    <div class="modal-footer"> <!--Apertura de footer-->
      <button type="button" class="btn btn-primary" value="Save">Save changes</button>
      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" value="Delete">Delete</button>
    </div> <!--Cierre de footer-->

    </div> <!--Dentro de esto se organiza el contenido-->
  </div> <!--Dentro de esto está modal dialog-->
</div> <!--Cierre de modal fade que contiene todo-->


<!--Modal 2-->
<!-- Modal -->
<div class="modal fade" id="nuevahard" tabindex="-1"> <!--Fade hace que el diálogo aparezca lentito, efecto de desvanecimiento -->
<div class="modal-dialog"> <!--Aquí van cambio de tamaño(sm...lg) y orientación vertical(centered)-->
<div class="modal-content"> <!--Dentro de esto se organiza el contenido-->

<div class="modal-header"> <!--Encabezado-->
<h5 class="modal-title" id="ModalLabel">Nueva Hard Skill</h5>
<p><a class="btn-close" data-bs-dismiss="modal" aria-label="Close">X</a></p>
</div> <!--Cierre de Encabezado-->

<div class="modal-body"> <!--Apertura de Body-->

<form>

  <div class="form-floating">
    <input type="title" class="form-control" id="floatingTitle" >
    <label for="floatingTitle">Hard Skill</label>
  </div>

  <div class="form-floating">
    <input type="title" class="form-control" id="floatingTitle" >
    <label for="floatingTitle">% Skill</label>
  </div>


</form>
</div> <!--Cierre de Body-->

<div class="modal-footer"> <!--Apertura de footer-->
<button type="button" class="btn btn-secondary" data-bs-dismiss="modal" value="Add">Add</button>
</div> <!--Cierre de footer-->

</div> <!--Dentro de esto se organiza el contenido-->
</div> <!--Dentro de esto está modal dialog-->
</div> <!--Cierre de modal fade que contiene los Proyectos-->


<!--Cierre de modal 2-->
        </div>
<!--Fin de Hard Skills--> 

<!--Inicio de Soft Skills-->
        <div class="card">
            <h3>Soft Skills</h3>
            <button type="button" data-bs-toggle="modal" data-bs-target="#modalsoft">Edit on me</button>

<!-- Modal Hard Skills -->
<div class="modal fade" id="modalsoft" tabindex="-1"> <!--Fade hace que el diálogo aparezca lentito, efecto de desvanecimiento -->
  <div class="modal-dialog"> <!--Aquí van cambio de tamaño(sm...lg) y orientación vertical(centered)-->
    <div class="modal-content"> <!--Dentro de esto se organiza el contenido-->
      
      <div class="modal-header"> <!--Encabezado-->
        <h5 class="modal-title" id="ModalLabel">Soft Skills</h5>
        <p><a class="btn-close" data-bs-dismiss="modal" aria-label="Close">X</a></p>
    </div> <!--Cierre de Encabezado-->
    
    <div class="modal-body"> <!--Apertura de Body-->
      
      <form>

        <select class="form-select form-select-sm" aria-label=".form-select-sm example">
          <option selected>Select menu</option>
          <option value="1">One</option>
          <option value="2">Two</option>
          <option value="3">Three</option>
        </select>

        <div class="form-floating">
          <input type="title" class="form-control" id="floatingTitle" >
          <label for="floatingTitle">Soft Skill</label>
        </div>

        <div class="form-floating">
          <input type="title" class="form-control" id="floatingTitle" >
          <label for="floatingTitle">% Skill</label>
        </div>
      
    
        <div class="form"> <!--Apertura de añadir -->
        <a role="button" href="#" data-bs-toggle="modal" data-bs-target="#nuevasoft">Añadir nuevo </a>

      </div> <!--Cierre de Añadir-->

      </form>
    </div> <!--Cierre de Body-->

    <div class="modal-footer"> <!--Apertura de footer-->
      <button type="button" class="btn btn-primary" value="Save">Save changes</button>
      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" value="Delete">Delete</button>
    </div> <!--Cierre de footer-->

    </div> <!--Dentro de esto se organiza el contenido-->
  </div> <!--Dentro de esto está modal dialog-->
</div> <!--Cierre de modal fade que contiene todo-->


<!--Modal 2-->
<!-- Modal -->
<div class="modal fade" id="nuevasoft" tabindex="-1"> <!--Fade hace que el diálogo aparezca lentito, efecto de desvanecimiento -->
<div class="modal-dialog"> <!--Aquí van cambio de tamaño(sm...lg) y orientación vertical(centered)-->
<div class="modal-content"> <!--Dentro de esto se organiza el contenido-->

<div class="modal-header"> <!--Encabezado-->
<h5 class="modal-title" id="ModalLabel">Nueva Soft Skill</h5>
<p><a class="btn-close" data-bs-dismiss="modal" aria-label="Close">X</a></p>
</div> <!--Cierre de Encabezado-->

<div class="modal-body"> <!--Apertura de Body-->

<form>

  <div class="form-floating">
    <input type="title" class="form-control" id="floatingTitle" >
    <label for="floatingTitle">Soft Skill</label>
  </div>

  <div class="form-floating">
    <input type="title" class="form-control" id="floatingTitle" >
    <label for="floatingTitle">% Skill</label>
  </div>


</form>
</div> <!--Cierre de Body-->

<div class="modal-footer"> <!--Apertura de footer-->
<button type="button" class="btn btn-secondary" data-bs-dismiss="modal" value="Add">Add</button>
</div> <!--Cierre de footer-->

</div> <!--Dentro de esto se organiza el contenido-->
</div> <!--Dentro de esto está modal dialog-->
</div> <!--Cierre de modal fade que contiene los Proyectos-->


<!--Cierre de modal 2-->
        </div>
<!--Fin de Soft Skills-->

      </div> <!--Fin de row-3-->

      </div>
  
      <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
        <div class="flex-container">
        <h3>Projects</h3>
        
        <button type="button" data-bs-toggle="modal" data-bs-target="#modalprojects">Edit on me</button>

        <!-- Modal proyectos -->
        <div class="modal fade" id="modalprojects" tabindex="-1"> <!--Fade hace que el diálogo aparezca lentito, efecto de desvanecimiento -->
          <div class="modal-dialog"> <!--Aquí van cambio de tamaño(sm...lg) y orientación vertical(centered)-->
            <div class="modal-content"> <!--Dentro de esto se organiza el contenido-->
              
              <div class="modal-header"> <!--Encabezado-->
                <h5 class="modal-title" id="ModalLabel">Projects</h5>
                <p><a class="btn-close" data-bs-dismiss="modal" aria-label="Close">X</a></p>
            </div> <!--Cierre de Encabezado-->
            
            <div class="modal-body"> <!--Apertura de Body-->
              
              <form>
              <select class="form-select form-select-sm" aria-label=".form-select-sm example">
                
                <option selected>Open this select menu</option>
                <option value="1">One</option>
                <option value="2">Two</option>
                <option value="3">Three</option>
              </select>

                <div class="mb-3">
                  <label for="formFileSm" class="form-label">Foto del proyecto</label>
                  <input class="form-control form-control-sm" id="formFileSm" type="file">
                </div>

                <div class="form-floating">
                  <input type="title" class="form-control" id="floatingTitle" >
                  <label for="floatingTitle">Titulo del proyecto</label>
                </div>
              
                <div class="form-floating">
                  <textarea class="form-control"  id="floatingTextarea"></textarea>
                  <label for="floatingTextarea">Descripción del proyecto</label>
                </div>

                <div class="form-floating">
                  <input type="title" class="form-control" id="floatingYear" >
                  <label for="floatingYear">Año de realización</label>
                </div>
              
                <div class="form"> <!--Apertura de añadir proyecto-->
                <a role="button" href="#" data-bs-toggle="modal" data-bs-target="#nuevoproyecto">Añadir Nuevo Proyecto</a>

              </div> <!--Cierre de Añadir proyecto-->

              </form>
            </div> <!--Cierre de Body-->

            <div class="modal-footer"> <!--Apertura de footer-->
              <button type="button" class="btn btn-primary" value="Save">Save changes</button>
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" value="Delete">Delete</button>
            </div> <!--Cierre de footer-->

            </div> <!--Dentro de esto se organiza el contenido-->
          </div> <!--Dentro de esto está modal dialog-->
        </div> <!--Cierre de modal fade que contiene los Proyectos-->


<!--Modal 2-->
<!-- Modal proyectos -->
<div class="modal fade" id="nuevoproyecto" tabindex="-1"> <!--Fade hace que el diálogo aparezca lentito, efecto de desvanecimiento -->
  <div class="modal-dialog"> <!--Aquí van cambio de tamaño(sm...lg) y orientación vertical(centered)-->
    <div class="modal-content"> <!--Dentro de esto se organiza el contenido-->
      
      <div class="modal-header"> <!--Encabezado-->
        <h5 class="modal-title" id="ModalLabel">Nuevo Proyecto</h5>
        <p><a class="btn-close" data-bs-dismiss="modal" aria-label="Close">X</a></p>
    </div> <!--Cierre de Encabezado-->
    
    <div class="modal-body"> <!--Apertura de Body-->
      
      <form>
     
        <div class="mb-3">
          <label for="formFileSm" class="form-label">Foto del proyecto</label>
          <input class="form-control form-control-sm" id="formFileSm" type="file">
        </div>

        <div class="form-floating">
          <input type="title" class="form-control" id="floatingTitle" >
          <label for="floatingTitle">Titulo del proyecto</label>
        </div>
      
        <div class="form-floating">
          <textarea class="form-control"  id="floatingTextarea"></textarea>
          <label for="floatingTextarea">Descripción del proyecto</label>
        </div>

        <div class="form-floating">
          <input type="title" class="form-control" id="floatingYear" >
          <label for="floatingYear">Año de realización</label>
        </div>

      </form>
    </div> <!--Cierre de Body-->

    <div class="modal-footer"> <!--Apertura de footer-->
      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" value="Add">Add</button>
    </div> <!--Cierre de footer-->

    </div> <!--Dentro de esto se organiza el contenido-->
  </div> <!--Dentro de esto está modal dialog-->
</div> <!--Cierre de modal fade que contiene los Proyectos-->


<!--Cierre de modal 2-->






      </div> <!--Cierre del flex-container de la columna-->
    </div> <!--Cierre de columna 3-->


    <div class="col-1">
    </div>
  </div>
  
  </body>

  <app-footer></app-footer>
</Section>
